{{define videolist}}
<table class="table table-striped table-hover">
    <thead class="table-dark table-light">
	<tr>
	    <td>Title</td>
	    <td>Channel</td>
	    <td>Duration</td>
	    <td>LastUpdated</td>
	</tr>
    </thead>
    <tbody>
	{{range .Videos}}
	<tr>
	    <td>
		<details style="user-select: auto;">
		    <summary style="user-select: auto;"><a class="text-decoration-none" href="/vid/{{.Id}}">{{.Title}}</a> <a class="text-decoration-none" href="/vid/{{.Id}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
				<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
			    </svg></a>
		    </summary>
		    <p style="user-select: auto;">
		    {{summary .}}
		    <div class="btn-group" role="group" aria-label="open as">
			<a type="button" class="btn btn-outline-primary" href="/vid/{{.Id}}">Open Here</a>
			<a type="button" class="btn btn-outline-danger" href="https://www.youtube.com/watch?v={{.Id}}">View Youtube</a>
		    </div>
		    </p>
		</details>
	    </td>
	    <td><a class="text-decoration-none" href="/cid/{{.Cid}}">{{.Cname}}</a></td>
	    <td>{{.Duration}}</td>
	    <td>{{.LastUpdated}}</td>
	</tr>
	{{end}}
    </tbody>
</table>
{{end}}
